@if (!inProgress) {
  <div class="drop-zone" appDrop (files)="importFile($event.file)">
    <p>Перетащите файл сюда</p>
    <p>или</p>

    <div class="actions">
      <label class="custom-file-upload">
        <input type="file" (change)="uploadFile($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
        Загрузите файл
      </label>
      <button (click)="loadFileByUrl()">Загрузить файл по ссылке</button>
    </div>
  </div>
} @else {
  <app-loader/>
}
