:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto 0;
}

.drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 70px;

  .actions {
    display: flex;
    justify-content: space-between;
  }

  input[type="file"] {
    display: none;
  }

  p:first-of-type {
    font-weight: bold;
    font-size: 25px;
  }

  .custom-file-upload {
    border: 1px solid var(--primary);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    color: var(--primary);
    padding: 15px 30px;
    margin-right: 20px;
  }
}


