@if (inProgress()) {
  <app-loader class="loader"/>
} @else {
  @if (isSuccessGenerated()) {
    <div class="success">
      <p>Документы сгенерированы успешно!</p>
      <ng-container *ngTemplateOutlet="backButton"></ng-container>
    </div>
  } @else {
    @if (parsingErrors.length) {
      <app-errors [errors]="parsingErrors"
                  (return)="return()">
      </app-errors>
    } @else {
      @if (isEmptyRequests) {
        <div class="error-message">
          <h2>Строк с пометкой "Готовность актов" - "не созданы" не найдено</h2>

          <ng-container *ngTemplateOutlet="backButton"></ng-container>
        </div>
      } @else {
        @if (isAllDriversSelected()) {
          <button class="secondary" (click)="deselectAllDrivers()">Сбросить все</button>
        } @else {
          <button class="secondary" (click)="selectAllDrivers()">Выбрать все</button>
        }

        @for (manager of managers; track manager) {
          <div class="manager">
            @if (driversByManager[manager]?.length) {
              <label class="container manager-name">
                {{manager}}
                <input type="checkbox" [checked]="checkIsSelectedManager(manager)"
                       (change)="updateSelectedDriversByManager(manager, $event.target)">
                <span class="checkmark"></span>
              </label>
            }

            <div class="drivers">
              @for (driver of driversByManager[manager]; track driver) {
                <span>
                <label class="container">
                  {{driver.fullName}}
                  <input type="checkbox" [checked]="checkSelected(driver)"
                         (change)="updateSelectedDriversByDriver(driver.shortName, $event.target)">
                  <span class="checkmark"></span>
                </label>
              </span>
              }
            </div>
          </div>
        }

        <div class="actions">
          <ng-container *ngTemplateOutlet="backButton"></ng-container>
          <button class="generate-button"
                  [disabled]="!selectedDrivers.length"
                  (click)="generateDocs()">
            Сгенерировать документы
          </button>
        </div>
      }
    }
  }
}

<ng-template #backButton>
  <button (click)="return()">
    Вернуться к загрузке файла
  </button>
</ng-template>
