<h2>Некорректный файл</h2>
<p class="description">Заполните пустые ячейки</p>
<table>
  <thead>
    <tr>
      <th>Страница</th>
      <th>Строка</th>
      <th>Пустые ячейки</th>
    </tr>
  </thead>
  <tbody>
    @for (error of errors; track error) {
      <tr>
        <td>{{error.sheetName}}</td>
        <td>{{error.rowId}}</td>
        <td>
          @for (item of error.emptyColumns; track item) {
            <p>{{item}}</p>
          }
        </td>
      </tr>
    }

  </tbody>
</table>

<button (click)="return.emit()">
  Вернуться к загрузке файла
</button>
