@use './assets/styles/colors';
@use './assets/styles/button';
@use './assets/styles/custom-scrollbar';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

*, *::before, *::after {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

body, p, span {
  padding: 0;
  margin: 0;
  color: var(--dark);
}
