button {
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--primary);
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    opacity: 0.8;
  }

  &.secondary {
    background-color: unset;
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  &:disabled,
  &[disabled]{
    opacity: 0.6;
    pointer-events: none;
  }
}
