:root {
  --bg: #896B8D;
  --dark: #291842;
  --white: #e6dce6;
  --primary: #37214F;
  --transparent-primary: rgba(55, 33, 79, 0.2);
  --red: #d7002f;
  --border-color: #ccc;
  --success: #4CAF50;
  --success-dark: #2e7d32;
  --text-secondary: #666;
  --button-text: white;
  --button-text-hover: white;
  --shadow-color: rgba(0, 0, 0, 0.2);
}
